@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1160px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.search-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  text-align: center;
}

.button-newsletter {
  background-color: #F0F0F0;
}

.button-log-out {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #FFE17F;
}

.page-header {
  width: 1440px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
}

.navigation-user-menu {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  background-color: #FFE17F;
}

.navigation-logo-link {
  display: block;
  object-fit: contain;
  width: 145px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-left: 60px;
}

.navigation-user-container {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.navigation-user-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  padding: 0;
}

.field {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.navigation-user-list {
list-style-type: none;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.goods-amount {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.navigation-menu-container {
  width: 1040px;
  padding-left: 60px;
}

.navigation-catalog-goods {
  display: flex;
  justify-content: space-between;
}

.navigation-submenu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* display: none; */
}

.navigation-menu-list {
  display: flex;
  justify-content: space-between;
  width: 471px;
  list-style-type: none;
}

.navigation-submenu-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.subtitle {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
}

.page-container {
  width: 1440px;
  margin: 0 auto;
}

.slider-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.goods-slider {
  display: flex;
}

.details {
  font-family: inherit;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.details-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
}

.slider-image-container {
  margin-right: 40px;
}

.slider-fitbit-container {
  display: none;
}

.selfie-stick-container {
  display: none;
}

.goods-category-list {
  display: grid;
  width: 1160px;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 70px;
  list-style: none;
}

.goods-category-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #ffffff;
}

.special-information-container {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
  color: #000000;
  background-color: #F0F0F0;
}

.special-information {
  display: flex;
  padding: 0 140px 72px 140px;
}

.special-information-list {
  margin-right: 116px;
  list-style-type: none;
}

.special-information-link {
  background-color: #F0F0F0;
}

.delivery-title,
.delivery-subtitle,
.loan-title,
.loan-subtitle,
.guaranty-title,
.guaranty-subtitle {
  background-color: #F0F0F0;
}

.guaranty-container {
  display: none;
}

.loan-container {
  display: none;
}

.special-delivery {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.special-delivery-link {
  padding: 40px 125px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #F0F0F0;
}

.contacts-information-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-us {
  margin-right: 108px;
}

.delivery-companies-link {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #ffffff;
}

.online-shop-title,
.schedule-title {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
}

.contacts-address,
.contacts-schedule {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
  text-decoration: none;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  background-color: #ffffff;
  text-decoration: none;
}

.newsletter {
  width: 1440px;
  margin: 0 auto;
  color: #000000;
  background-color: #F0F0F0;
}

.newsletter-content {
  display: flex;
  padding: 64px 133px 144px 147px;
}

.newsletter-title,
.newsletter-subtitle {
  background-color: #F0F0F0;
}

.newsletter-title {
  margin-right: 252px;
}

.newsletter-group {
  display: flex;
  justify-content: space-between;
  padding: 0 141px 56px 141px;
}

.field-newsletter {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #F0F0F0;
}

.newsletter-tip {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.page-footer {
  width: 1440px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #444444;
}

.footer-contacts {
  padding: 62px 140px 61px;
}

.footer-navigation-logo {
  margin-bottom: 35px;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-contacts-phone,
.footer-contacts-address-text {
  font-style: normal;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.address-container {
  display: block;
  width: 239px;
}

.footer-contacts-address {
  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 0 13px 0;
  width: 444px;
  list-style: none;
}

.footer-menu-link {
  color: #ffffff;
  background-color: #444444;
}

.contacts-phone-container {
  display: flex;
  padding-top: 7px;
}

.footer-contacts-phone {
  display: block;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
  width: 655px;
  margin: 0;
  margin-right: 140px;
}

.footer-social-group {
  width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
}

.copyright-container {
  display: flex;
  width: 115px;
}

.breadcrumbs-container {
  width: 1079px;
  margin: 0 auto;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  width: 429px;
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.catalogs-goods-container {
  color: #000000;
  background-color: #F0F0F0;
  width: 1440px;
}

.catalogs-goods-content {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}

.catalog-goods {
width: 320px;
}

.catalog-container {
width: 840px;
}

.catalog-filter-title,
.catalog-sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #F0F0F0;
}

.catalog-filter-subtitle {
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #F0F0F0;
}

.label-min-price,
.label-max-price {
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #F0F0F0;
  opacity: 0.3;
}

.control-label {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
  background-color: #F0F0F0;
}

.catalog-sorting-group {
  display: flex;
  justify-content: space-between;
}

.select-control {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #F0F0F0;
}

.card-toggle-group {
display: flex;
flex-wrap: wrap;
}

.card-toggle {
  width: 30px;
  height: 30px;
}

.goods-information-container {
  color: #000000;
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.goods-information {
display: flex;
flex-direction: column;
}

.catalog-goods-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  list-style-type: none;
}

.goods-card-title {
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  color: #000000;
  background-color: #ffffff;
}

.goods-card-link {
  text-decoration: none;
}

.goods-card-price {
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
}

.goods-card-button {
  width: 760px;
  margin: 0 auto;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffffff;
}

.pagination-container {
  color: #000000;
  background-color: #EBEBEB;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.pagination-link {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.3;
  color: #444444;
  background-color: #EBEBEB;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 1;
  color: #000000;
  background-color: #EBEBEB;
}

/* для ссылок пагинации в неактивном состоянии */

.disabled {
  opacity: 0;
}
