@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-header {
  background-image: url(../images/pictures-html/background-yellow-navigation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-color: #FFE17F;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.search-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  text-align: center;
}

.button-newsletter {
background-color: #F0F0F0;
}

.field {
  font:inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.navigation-user-link {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #FFE17F;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.subtitle {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform:none;
  color: #444444;
  background-color: #ffffff;
}

.details {
  font-family: inherit;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.details-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
}

.slider-fitbit-container {
  display: none;
}

.selfie-stick-container {
  display: none;
}

.goods-category-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  background-image: url(../images/pictures-html/background-yellow-goods-list.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.special-information-container {
  background-image: url(../images/pictures-html/background-gray-delivery-guaranty-loan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-color: #F0F0F0;
}

.special-information-link{
  background-color: #F0F0F0;
}

.delivery-title,
.delivery-subtitle {
  background-color: #F0F0F0;
}

.guaranty-container {
  display: none;
}

.loan-container {
  display: none;
}

.special-delivery{
  background-color: #F0F0F0;
}

.special-delivery-link {
font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #F0F0F0;
}

.delivery-companies-link {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.online-shop-title,
.schedule-title {
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: #444444;
  background-color: #ffffff;
}

.contacts-address,
.contacts-schedule {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform:none;
  color: #444444;
  background-color: #ffffff;
  text-decoration: none;
}

.contacts-address {
 font-style: normal;
}

.contacts-phone {
  color: #444444;
  background-color: #ffffff;
  text-decoration: none;
}

.newsletter {
  background-image: url(../images/pictures-html/background-grey-newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-color: #F0F0F0;
}

.newsletter-title,
.newsletter-subtitle {
  background-color: #F0F0F0;
}

.field-newsletter{
  font:inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #F0F0F0;
}

.newsletter-tip {
  font:inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.page-footer {
  background-image: url(../images/pictures-html/background-grey-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:#ffffff;
  background-color: #444444;
}

.footer-contacts-phone,
.footer-contacts-address-text {
  font-style: normal;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.footer-menu-link {
  color: #ffffff;
  background-color: #444444;
}
