@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 220px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border: transparent;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: 50%;
  transform: translateY(-50%);
  left: -2px;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  background-position: center;
}

.search-button {
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.search-button::before {
  content: none;
}

.button-newsletter {
  display: block;
  box-sizing: border-box;
  padding: 18px 39px;
  width: 253px;
  height: 55px;
  border: 3px solid #C4C4C4;
  background-color: transparent;
}

.button-newsletter::before {
  content: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-content-container {
  width: 1160px;
  margin: 0 auto;
}

.navigation-user-menu {
  color: #000000;
  background: linear-gradient(#ffffff 40px, #FFE17F 40px);
}

.navigation-logo-link {
  display: block;
  object-fit: contain;
  width: 145px;
  margin-bottom: 30px;
  padding-top: 19px;
  padding-left: 60px;
}

.navigation-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1040px;
  margin-bottom: 30px;
  padding-left: 60px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.field {
  box-sizing: border-box;
  width: 359px;
  height: 40px;
  padding: 0 16px 0 48px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  background-image: url("../images/pictures-html/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 16px center;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

.login-link {
  position: relative;
  margin-right: 26px;
  margin-left: 26px;
}

.login-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-profile.svg");
  background-size: 13px 12px;
}

.navigation-log-out {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  opacity: 0.3;
}

.navigation-user-name {
  position: relative;
  margin-left: 27px;
  margin-right: 28px;
}

.navigation-user-name::before {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-profile.svg");
  margin-right: 12px;
}

.navigation-user-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
}

.compare-link {
  position: relative;
}

.compare-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-compare.svg");
  background-size: 10px 12px;
  background-repeat: no-repeat;
}

.cart-link {
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-shopping-bag.svg");
  background-repeat: no-repeat;
  background-size: 13px 21px;
}

.goods-amount {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 21px;
  height: 21px;
  padding: 2px;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
}

.navigation-catalog-goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  padding-left: 60px;
}

.catalog-goods-link {
  display: block;
  position: relative;
  width: 236px;
  margin: 0;
  padding: 25px 57px 25px 0;
}

.catalog-goods-link::after {
  content: "";
  position: absolute;
  margin-left: 7px;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50px;
  background-image: url("../images/pictures-html/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  cursor: pointer;
}

.popover-catalog {
  position: absolute;
  left: -60px;
  z-index: 10;

  display: none;
  box-sizing: border-box;
  width: 1160px;
  min-height: 160px;
  padding: 15px 60px;

  background-color: #ffe17f;
}

.navigation-menu-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 471px;
  list-style-type: none;
}

.navigation-submenu {
  display: flex;
  margin: 0;
  padding-left: 60px;
  width: 675px;
}

.navigation-submenu-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 30px;
  margin-bottom: 27px;
  padding: 0;
  list-style-type: none;
}

.navigation-submenu-link {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
}

.link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  text-transform: none;
  color: #000000;
  background-color: transparent;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  background-color: transparent;
}

.slider-container {
  position: relative;
  margin-bottom: 70px;
}

.goods-slider {
  display: flex;
  background: linear-gradient(#ffe17f 150px, 150px, #ffffff);
}

.slider-image-container {
  display: block;
  margin-right: 40px;
}

.slider-image {
  display: block;
}

.goods-slider-container {
  display: none;
}

.goods-slider-current {
  display: flex;
}

.details {
  font-family: inherit;
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.details-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
}

.slider-content-container {
  position: relative;
  z-index: 1;
  width: 560px;
  padding-top: 121px;
  padding-right: 15px;
}

.slider-number {
  z-index: -2;
  position: absolute;
  display: block;
  top: 75px;
  right: 49px;
  width: 250px;
  height: 135px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.goods-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.goods-subtitle {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

.content-group {
  position: relative;
  margin-bottom: 49px;
}

.button-information {
  display: block;
}

.details-group-container {
  display: flex;
  flex-wrap: wrap;
}

.details-group {
  margin-right: 20px;
}

.details-group-more {
  margin-right: 40px;
}

.details {
  margin-bottom: 12px;
}

.details-description {
  margin: 0;
}

.slider-button-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.slider-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.slider-prev {
  position: absolute;
  display: block;
  background-image: url("../images/pictures-html/icon-button-previous.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
}

.slider-next {
  position: absolute;
  display: block;
  background-image: url("../images/pictures-html/icon-button-next.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slider-pagination {
  display: flex;
  justify-content: space-between;
  width: 76px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 2px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  top: 50%;
}

.pagination-button-current {
  display: block;
  background-color: #000000;
}

.goods-category-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  padding: 0;
  margin-bottom: 70px;
  list-style: none;
}

.goods-category-item {
  display: grid;
  width: 160px;
  grid-template-columns: 160px;
  grid-template-rows: 160px 60px;
  gap: 32px 40px;
}

.goods-category-card {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/1;
  background-color: #FFE17F;
}

.card-virtual-reality {
  display: block;
  background-image: url("../images/pictures-html/icon-digital-glasses.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-monopod {
  display: block;
  background-image: url("../images/pictures-html/icon-monopod.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-action-camera {
  display: block;
  background-image: url("../images/pictures-html/icon-action-camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-fitbit {
  display: block;
  background-image: url("../images/pictures-html/icon-fitbit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-smart-watches {
  display: block;
  background-image: url("../images/pictures-html/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card-quadcopters {
  display: block;
  background-image: url("../images/pictures-html/icon-quadcopter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.goods-category-link {
  display: grid;
  grid-row: 2/4;
  grid-column: 1/2;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000;
}

.special-information-container {
  margin-bottom: 70px;
  color: #000000;
  background: linear-gradient(#ffffff 100px, #F0F0F0 100px);
}

.special-information {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-bottom: 72px;
  padding-top: 72px;
}

.special-information-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 116px;
  width: 287px;
  list-style-type: none;
}

.special-information-list::after {
  content: "";
  position: absolute;
  height: 319px;
  left: 280px;
  top: -55px;
  border-right: 7px solid #000000;
}

.special-information-item {
  margin-bottom: 35px;
}

.special-information-item:last-child {
  margin-bottom: 0;
}

.special-information-link {
  z-index: 2;
  position: relative;
  display: block;
}

.special-information-link::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 160px;
  height: 8px;
  background-color: #FFE17F;
}

.special-information-link-current {
  z-index: 2;
  position: relative;
  display: block;
  color: #ffe17f;
}

.special-information-link-current::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 280px;
  height: 40px;
  background-color: #000000;
}


.content-title {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.delivery-subtitle {
  margin: 0;
  padding: 0;
  width: 452px;
}

.guaranty-subtitle {
  margin: 0;
  padding: 0;
  width: 479px;
}

.loan-subtitle {
  margin: 0;
  padding: 0;
  width: 475px;
}

.content-container {
  position: relative;
  display: none;
  max-width: 729px;
}

.delivery-container {
  display: flex;
  justify-content: space-between;
}

.delivery-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-delivery.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  top: 50%;
  transform: translateY(-50%);
  left: 558px;
}

.guaranty-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-guaranty.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  top: 50%;
  transform: translateY(-50%);
  left: 558px;
}

.loan-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/pictures-html/icon-loan.svg");
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  top: 50%;
  transform: translateY(-50%);
  left: 558px;
}

.content-container-current {
  display: block;
}

.special-delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.special-delivery-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 40px 125px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
}

.special-delivery-link::before {
  display: block;
  content: "";
  position: absolute;
  width: 120px;
  height: 100px;
  left: 0;
  top: 20px;
  transform: translateY(-20%);
  background-image: url("../images/pictures-html/icon-delivery-car.svg");
  background-size: 47px 31px;
  background-repeat: no-repeat;
  background-color: #FFE17F;
  background-position: center;
}

.special-delivery-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 42px;
  background-image: url("../images/pictures-html/icon-info.svg");
  background-size: 2px 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border-radius: 50px;
  opacity: 0.3;
}

.contacts-information-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  margin: 0;
  padding: 0;
  width: 520px;
}

.about-us-title {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.about-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.about-delivery-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.delivery-companies-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 35px;
  list-style-type: none;
}

.delivery-companies-item {
  margin-bottom: 19px;
}

.delivery-companies-link {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #000000;
}

.delivery-companies-link::before {
  content: "";
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}

.contacts-information {
  width: 532px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.online-shop-title,
.schedule-title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: #444444;
}

.online-shop-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.contacts-address,
.contacts-schedule {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
  text-decoration: none;
}

.contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.contacts-address-text {
  margin-bottom: 0;
}

.contacts-phone {
  color: #444444;
  text-decoration: none;
}

.schedule-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.button-about-us,
.button-contacts {
  position: relative;
}

.button-about-us::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 270px;
  height: 8px;
  background-color: #FFE17F;
}

.button-contacts::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 260px;
  height: 8px;
  background-color: #FFE17F;
}


.newsletter {
  color: #000000;
  background-color: #F0F0F0;
}

.newsletter-content {
  display: flex;
  justify-content: space-between;
  padding: 64px 133px 144px 147px;
}

.newsletter-title {
  margin: 0;
  padding: 0;
}

.newsletter-subtitle {
  width: 560px;
}

.newsletter-group {
  display: flex;
  justify-content: space-between;
  padding: 0 141px 56px 141px;
}

.newsletter-form {
  display: flex;
}

.field-newsletter {
  display: block;
  box-sizing: border-box;
  padding: 11px 0 14px 16px;
  width: 557px;
  height: 55px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.newsletter-tip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.newsletter-tip::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/pictures-html/icon-tick.svg");
  background-repeat: no-repeat;
  left: -32px;
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-contacts {
  display: block;
  padding: 62px 140px 62px;
}

.footer-navigation-logo {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-phone,
.footer-contacts-address-text {
  display: block;
  margin: 0;
  font-style: normal;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #444444;
  text-decoration: none;
}

.footer-contacts-address-text {
  margin-bottom: 64px;
}

.footer-address-container {
  position: relative;
  display: block;
  max-width: 239px;
}

.footer-address-container::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-contacts-address {
  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 444px;
  list-style: none;
}

.footer-menu-link {
  display: block;
  color: #ffffff;
  background-color: #444444;
}

.contacts-phone-container {
  display: flex;
}

.footer-contacts-phone {
  display: block;
  margin: 0;
  text-decoration: underline;
}

.footer-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 655px;
  margin: 0;
  margin-left: auto;
}

.footer-social {
  display: flex;
  min-width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  color: #444444;
}

.link-telegram svg {
  width: 14px;
  height: 12px;
}

.link-youtube svg {
  width: 16px;
  height: 11px;
}

.link-twitter svg {
  width: 15px;
  height: 14px;
}

.footer-social-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
}

.copyright-container {
  display: flex;
  width: 115px;
}

.htmlacademy-link svg {
  display: block;
  fill: #ffc700;
}

.breadcrumbs-container {
  width: 1079px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: space-between;
  width: 429px;
  margin-right: 36px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../images/picture-catalog/icon-breadcrumbs.svg");
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.catalogs-goods-container {
  color: #000000;
  background-color: #F0F0F0;
}

.catalogs-goods-content {
  display: flex;
  width: 1140px;
  margin: 0 auto;
}

.catalog-goods {
  width: 320px;
}

.catalog-container {
  width: 840px;
}

.catalog-filter-title,
.catalog-sorting-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.catalog-filter-title {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 60px;
}

.catalog-sorting-title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-filter-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.catalog-filter-subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-subtitle::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 200px;
  height: 0;
  border-bottom: 2px solid #000000;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 200px;
  background-color: #dcdcdc;
  margin-bottom: 15px;
}

.range-bar {
  position: absolute;
  height: 2px;
  width: 119px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input-min {
  width: 30px;
}

.range-input-max {
  width: 59px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.label-min-price,
.label-max-price {
  font: inherit;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/picture-catalog/icon-tick-checkbox.svg");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  border: 2px solid #CCCCCC;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-label {
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}

.catalog-sorting-container {
  margin: 0;
  padding: 0;
}

.catalog-sorting-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.select-control-container {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.select-control {
  display: block;
  margin: 0;
  padding: 0;
  width: 139px;
  height: 30px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #F0F0F0;
  background-image: url("../images/picture-catalog/icon-tick-sorting.svg");
  background-repeat: no-repeat;
  background-size: 9px 6px;
  background-position: right center;
  appearance: none;
  border: none;
  cursor: pointer;
}

.card-toggle-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}

.card-toggle {
  width: 30px;
  height: 30px;
  fill: #000000;
  /* opacity: 0.2; */
}

.card-toggle-up svg {
  width: 12px;
  height: 10px;
}

.card-toggle-down svg {
  width: 12px;
  height: 10px;
}

.goods-information-container {
  color: #000000;
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.goods-information {
  display: flex;
  flex-direction: column;
}

.catalog-goods-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  list-style-type: none;
}

.goods-image {
  object-fit: contain;
}

.goods-card-content {
  display: flex;
  justify-content: space-between;
}

.goods-card-title {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.02em;
  color: #000000;
}

.goods-card-link {
  display: block;
  margin-bottom: 32px;
  text-decoration: none;
}

.goods-card-price {
  display: block;
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
}

.goods-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: #000000;
}

.goods-card-button::before {
  content: none;
}

.pagination-container {
  min-width: 760px;
  height: 71px;
  color: #000000;
  background-color: #EBEBEB;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  list-style-type: none;
}

.pagination-number-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin: 0;
  padding: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  background-color: #EBEBEB;
  opacity: 0.3;
}

.pagination-prev,
.pagination-next {
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 1;
  color: #000000;
  background-color: #EBEBEB;
}

/* для ссылок пагинации в неактивном состоянии */

.disabled {
  opacity: 0;
}
